body{
  text-align :center;
}

.btn{
  height:200px;
  width:200px;
  border-radius:20%;
  border: 10px solid black;
  margin : 2.5rem;
}

.btn-container{
  display:flex;
  justify-content: center;
  
}

.red{
  background-color: #ff6b6b;
}

.yellow{
  background-color: #FFA96C;
}

.green{
  background-color: #6BFFAB;
}

.purple{
  background-color: #6BA9FF;
}

.flash{
  background-color: white;
}

.userflash{
  background-color: #106272;
}